.wrap {
    display: flex;
    flex-direction : column;
}

li {
    display: flex;
    width: 600px;
    justify-content: space-between;
    margin-top: 5px;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.removeBtn {
    background-color:rgb(189, 5, 5);
    border: none;
}

.title {
    display: flex;
    justify-content: space-between;
    
    width: 600px;

}

span {
    flex:1}

    h2 {
        flex:1
    }